@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* START Margins and Paddings */
.body {
  @apply m-auto bg-slate-100;
}

/* START Column articles */
.one-col {
  @apply grid grid-cols-1 py-10 place-items-center gap-6;
}

.two-col {
  @apply grid md:grid-cols-2 sm:grid-cols-1 py-10 gap-6;
}

.three-col {
  @apply grid md:grid-cols-3 sm:grid grid-cols-2 justify-items-center py-10 gap-16;
}

.four-col {
  @apply grid md:grid-cols-4 sm:grid grid-cols-2 justify-items-center py-20 gap-16;
}

.six-col {
  @apply grid md:grid-cols-6 sm:grid grid-cols-3 justify-items-center py-10 gap-3;
}

/* Customized colors */

/* Buttons */
.button__outline {
  @apply border-solid outline rounded-sm p-2 text-center justify-self-center text-sm;
}

.button__outline-sm {
  @apply border-solid outline rounded-sm p-2 text-center justify-self-center text-xs;
}

.button__full {
  @apply bg-[#D21448] rounded-sm p-2 text-center text-white justify-self-center text-sm hover:bg-[#f7d7e0] hover:text-[#D21448] focus:outline-none focus:ring-2 focus:ring-[#D21448] active:bg-[#f7d7e0];
}

.button__text {
  @apply rounded-sm w-32 p-2 text-center justify-self-center text-sm;
}

/* START Font sizes for all articles */
.header {
  @apply text-3xl text-rose-600 uppercase text-center;
}

.header__paragraph {
  @apply text-2xl text-neutral-700;
}

.subheader {
  @apply text-base text-center text-neutral-700;
}

/* START navbar styles */
/* .navbar {
  @apply bg-slate-50 flex fixed top-0 left-0 right-0 p-10;
} */

/* .navbar__desktop {
  @apply flex justify-between grid-cols-6 gap-12 sm:text-left sm:flex text-center pb-5;
} */

.navbar__desktop {
  @apply justify-between grid-cols-6 gap-12 sm:text-left sm:flex text-center pb-5;
}

/* START slider styles */
.slider {
  @apply xl:flex-row flex-col gap-5 relative z-0 mx-auto md:p-32 text-center text-white grid justify-items-stretch p-12;
}

.slider__medium {
  @apply h-40 xl:flex-row flex-col gap-5 relative z-0 mx-auto md:p-12 text-center text-white grid justify-items-stretch p-12;
}

/* START articles styles */
/* .articles {
  @apply container flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto pt-32;
} */
.articles {
  @apply grid-cols-1 pt-32 mx-auto;
}

/* START image with text */

/* START footer styles */
.footer {
  @apply w-full left-0 right-0 px-10 py-10  bottom-0 bg-slate-900 text-white;
}
