@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/* START Margins and Paddings */
.body {
  @apply mx-auto bg-slate-100;
}

/* START Column articles */
.one-col {
  @apply grid grid-cols-1 pt-10 place-items-center gap-6;
}

.two-col {
  @apply grid md:grid-cols-2 sm:grid-cols-1 pt-10 place-items-center gap-6;
}

.three-col {
  @apply grid md:grid-cols-3 sm:grid grid-cols-1 justify-items-center pt-10 gap-16;
}

.four-col {
  @apply grid md:grid-cols-4 sm:grid grid-cols-2 justify-items-center pt-10 gap-16;
}

/* Customized colors */

/* Buttons */
.slider__button {
  @apply border-solid outline rounded-sm w-32 p-3 text-center justify-self-center text-sm;
}

/* START Font sizes for all articles */
.header {
  @apply text-3xl text-rose-600 uppercase text-center;
}

.header__paragraph {
  @apply text-xl text-neutral-700 text-center;
}

.subheader {
  @apply text-base text-center text-neutral-700;
}

/* START navbar styles */
/* .navbar {
  @apply bg-slate-50 flex fixed top-0 left-0 right-0 p-10;
} */

/* .navbar__desktop {
  @apply flex justify-between grid-cols-6 gap-12 sm:text-left sm:flex text-center pb-5;
} */

.navbar__desktop {
  @apply justify-between grid-cols-6 gap-12 sm:text-left sm:flex text-center pb-5;
}

/* START slider styles */
.slider {
  @apply xl:flex-row flex-col gap-5 relative z-0 mx-auto md:p-32 text-center text-white grid justify-items-stretch p-12;
}

/* START articles styles */
/* .articles {
  @apply container flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto pt-32;
} */
.articles {
  @apply grid-cols-1 pt-32 mx-auto;
}

/* START image with text */

/* START footer styles */
.footer {
  @apply w-full left-0 right-0 px-10 py-10  bottom-0 bg-slate-900 text-white;
}
